[submodule "static/reader"]
	path = static/reader
	url = https://github.com/ZaPF/ZaPF_Reader.git
[submodule "static/resolutionen"]
	path = static/resolutionen
	url = https://github.com/ZaPF/ZaPF_Resos.git
[submodule "static/berichte"]
	path = static/berichte
	url = https://github.com/ZaPF/ZaPF_Berichte.git
[submodule "content/verein/satzung"]
	path = content/verein/satzung
	url = https://github.com/ZaPF/Satzung_des_ZaPFev.git
[submodule "content/zapf/kodex"]
	path = content/zapf/kodex
	url = https://github.com/ZaPF/verhaltenskodex
[submodule "content/zapf/go"]
	path = content/zapf/go
	url = https://github.com/ZaPF/Geschaeftsordnung_ZaPF
[submodule "content/zapf/satzung"]
	path = content/zapf/satzung
	url = https://github.com/ZaPF/Satzung_der_ZaPF
